<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/user_header'%>
    <h3 class = "muted"><%= link_to 'Booking', root_path %></h3>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
